
@{
    ViewBag.Title = "Index";
}

<form method="post">
    <div style="padding: 20px">
        <label for="title">
            Title
            <input type="text" name="title" />
        </label>
    </div>
    <div style="padding: 20px">
        <label for="author">
            Author
            <input type="text" name="author" />
        </label>
    </div>
    <div style="padding: 20px">
        <label for="pages">
            Pages
            <input type="number" name="pages" />
        </label>
    </div>
    <div style="padding: 20px">
        <label for="price">
            Price
            <input type="text" name="price" />
        </label>
    </div>
    <input type="submit" value="Send" />
</form>

